/* Empty file for template. Remember to edit only this file and not the HTML file */

body {
    background: black;
    display: block;
    font-family: "Afacad", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-image: url(Images/Group\ 20.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Afacad", sans-serif;
    font-style: normal;
}

h1 {
    color: white;
    background-color:rgba(0, 0, 225, 80%);
    height: 475px;
    width: 475px;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    align-self: center;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 130px;
    font-family: "Afacad", sans-serif;
    font-size: 48px;
    font-weight: 700px;
    font-style: normal;
    position: absolute;
    left: 50vw;
    transform: translate(-50%, -75%);
}

h1:hover {
    background-color:rgba(225, 0, 0, 80%);
    transition:250ms;
}

 h2 {
    font-family: "Afacad", sans-serif;
    font-size: 96px;
    font-weight: 700px;
    font-style: normal;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    width: 100%;
    padding-top: 20%;
    margin-bottom: 20px;
}

[title~="Cascading"] {
    text-decoration: none;
}

[title~="Cascading"]::before {
    content: "\00A0";
  } 

[title~="Cascading"]::after {
    content: "\00A0";
  } 

[role="banner"] {
    order: 1;
  }

[role="banner"] h1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

[role="banner"] h2::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 90px;
    background-image: url('images/Group\ 21.png');
    background-position: center;
    background-size: cover;
    margin-right: 8px;
    vertical-align: middle;
    transform: scale(0.95);
    margin-bottom: 8%;
    animation: fadeInOut 4s infinite;
}

@keyframes fadeInOut {
    0% {
        background-image: url('images/Group\ 21.png');
        opacity: 1; 
    }
    50% {
        background-image: url('images/Group\ 21.png');
        -webkit-filter: invert(100%);
        filter: invert(100%);
        opacity: 1;
    }
    100% {
        background-image: url('images/Group\ 21.png');
        opacity: 1;
    }
}

[role="banner"] h2::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 90px;
    background-image: url('images/Group\ 21\ \(1\).png');
    background-position: center;
    background-size: cover;
    margin-right: 8px;
    vertical-align: middle;
    transform: scale(0.95);
    margin-top: 8%;
    animation: fadeInOut2 4s infinite;

}

@keyframes fadeInOut2 {
    0% {
        filter: none;
    }
    50% {
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }
    100% {
        filter: none;
    }
}

#zen-summary::before {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    opacity: 0;
    transition: ExpandToRectangle 0.5s ease;
}

#zen-summary {
    position: relative;
    overflow: hidden;
    color: transparent;
    background-color: red;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: 200px auto;
    transition: all 0.5s ease;
    box-shadow: 0 0 50px rgba(255, 255, 255, 50%);
}

#zen-summary p {
    opacity: 0;
    transition: ExpandToRectangle 0.5s ease;
    color: white;
    text-align: center;
    margin: 0;
}

@keyframes ExpandToRectangle {
    0%{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        opacity: 0;
    }

    100%{
        width: 100%;
        height: 800px;
        border-radius: 0;
        opacity: 1;
    }
    
}

#zen-summary:hover, #zen-summary:focus-within {
    animation: ExpandToRectangle 0.5s ease forwards;
}

#zen-summary:hover p {
    color:white;
    font-size: 48px;
    font-weight: 400px;
    opacity: 1;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

#zen-intro {
    order: 1;
}

.sidebar {
    order: 2;
}

#zen-supporting {
    order: 3;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

#zen-resources {
    order: 1;
}

#design-archives {
    order: 2;
}

#design-selection {
    order: 3;
}

.preamble {
    color: white;
    background-color: blue;
    height: 600px;
    width: 60%;
    padding: 5%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.preamble h3 {
    text-decoration: none;
    color: white;
    font-family: "Afacad", sans-serif;
    font-size: 48px;
    font-weight: 700px;
    font-style: normal;
}

.preamble, p {
    color: white;
    font-family: "Afacad", sans-serif;
    font-size: 24px;
    font-weight: 400px;
    font-style: normal;
    padding-top: 0;
}

[title~="Document"] {
    text-decoration: none;
}

[title~="World"] {
    text-decoration: none;
}

[title~="Web"] {
    text-decoration: none;
}

.zen-resources {
    display: block;
    background-color: aqua;
    height: 600px;
    width: 40%;
    gap: 0;
    padding: 5%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    text-align: center;
    transform: translate(0,-600px);
}

.zen-resources h3 {
    color: black;
    font-family: "Afacad", sans-serif;
    font-size: 48px;
    font-weight: 700px;
    font-style: normal;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    transform: translate(0,-125%);
}

.zen-resources a {
    color: black;
    font-size: 32px;
    font-weight: 700px;
    font-style: normal;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    width: 100%;
    transform: translate(-5%,-150%);
}

.zen-resources a:hover {
    color: white;
}

[title~="Frequently"] {
    text-decoration: none;
}

.design-selection {
    background-color: rgba(2, 255, 2, 80%);
    height: 800px;
    width: 40%;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    transform: translate(0,-1250px);
}

.design-selection h3 {
    color: white;
    font-family: "Afacad", sans-serif;
    font-size: 48px;
    font-weight: 700px;
    font-style: normal;
    text-align: center;
}

.design-selection, ul, li {
    color: white;
    font-family: "Afacad", sans-serif;
    font-size: 24px;
    font-weight: 400px;
    font-style: normal;
    margin-top: 5%;
    list-style: none;
    text-align: left;
}

.design-name {
    color: white;
    font-size: 32px;
    font-weight: 700px;
    text-decoration: none;
}

.designer-name {
    color: white;
    font-size: 24px;
    font-weight: 400px;
    font-style: normal;
    text-decoration: none;
    text-decoration: none;
}

.design-name:hover {
    color: black;
}

[role="navigation"] {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

.design-archives h3 {
    color:transparent;
}

.viewall a {
    color: white;
    font-family: "Afacad", sans-serif;
    font-size: 96px;
    font-weight: 700px;
    font-style: normal;
    width: 60%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    transform: translate(-56%,-650px);
}

a:link {
    text-decoration: none;
    list-style: none;
}

.next {
    transform: translate(-27%,-250px);
}

.next a {
    background-color: rgba(255, 255, 255, 80%);
    color: black;
    font-size: 48px;
    font-weight: 700px;
    text-align: center;
}

[class~="next"]::before {
    content: "\00A0";
  } 

[class~="next"]::after {
    content: "\00A0";
  } 

.next a:hover {
    background-color: white;
    background-size: cover;
    color: black;
    font-size: 48px;
    font-weight: 700px;
    width: 100%;
    transform: translate(-27%,-250px);

}

.explanation::before {
    content: " ";
    background-image: url(Images/file\ 1.png);
    background-size:auto;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: none;
    border: 5px solid blue;
    border-radius: 50%;
    transform: translate(135%,0);
    z-index:-1;
}

.explanation {
    color: white;
    background-color: blue;
    border-radius: 0% 50% 50% 0%;
    height: 800px;
    width: 50%;
    padding: 5%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.explanation h3 {
    text-decoration: none;
    color: white;
    font-family: "Afacad", sans-serif;
    font-size: 48px;
    font-weight: 700px;
    font-style: normal;
}

.explanation p {
    color: white;
    font-family: "Afacad", sans-serif;
    font-size: 24px;
    font-weight: 400px;
    font-style: normal;
    padding-top: 0;
    padding-right: 15%;
    height:100%;
    overflow:hidden;
}

.explanation:hover {
    border-radius: 0px;
    height:810px;
    width:100%;
    transition:250ms;
}

.participation::before {
        content: " ";
        background-image: url(Images/pic_rgb_wheel\ 1.png);
        background-size:auto;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        width: 80%;
        height: 80%;
        background-color: none;
        border: 5px solid red;
        border-radius: 50%;
        transform: translate(-113%,-10%);
        z-index:-1;
}

.participation {
    color: white;
    background-color: red;
    border-radius: 50% 0% 0% 50%;
    height: 800px;
    width: 50%;
    padding: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    text-align: right;
    flex-wrap: wrap;
    gap: 2%;
}

.participation h3 {
    text-decoration: none;
    color: white;
    font-family: "Afacad", sans-serif;
    font-size: 48px;
    font-weight: 700px;
    font-style: normal;
}

.participation p {
    color: white;
    font-family: "Afacad", sans-serif;
    font-size: 24px;
    font-weight: 400px;
    font-style: normal;
    padding-top: 0;
    padding-left: 15%;
}

.participation p:nth-last-child(1){
    opacity: 0;
    transition: opacity 0.3s ease;
}

.participation:hover {
    border-radius: 0;
    width: 100%;
    transform: translate(0,-120%);
    transition:250ms;
    color:white;
    gap: 2%;
}

.participation:hover p:nth-last-child(1) {
    opacity:1;
    color:white;
}

.benefits::before {
    content: " ";
    background-image: url(Images/RGB_color_wheel_72.svg-removebg-preview\ 1.png);
    background-size:auto;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: none;
    border: 5px solid green;
    border-radius: 50%;
    transform: translate(135%,0);
    z-index:-1;
}

.benefits {
    color: white;
    background-color: green;
    border-radius: 0% 50% 50% 0%;
    height: 800px;
    width: 50%;
    padding: 5%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.benefits h3 {
    text-decoration: none;
    color: white;
    font-family: "Afacad", sans-serif;
    font-size: 48px;
    font-weight: 700px;
    font-style: normal;
}

.benefits p {
    color: white;
    font-family: "Afacad", sans-serif;
    font-size: 24px;
    font-weight: 400px;
    font-style: normal;
    padding-right: 15%;
    padding-bottom: 45%;
}

.benefits:hover {
    border-radius: 0px;
    height:810px;
    width:100%;
    transition:250ms;
}

.requirements::before {
    content: " ";
    background-image: url(Images/3813518\ 1.png);
    background-size:auto;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: none;
    border: 5px solid white;
    border-radius: 50%;
    transform: translate(-113%,-10%);
    z-index:-1;
}

.requirements {
    color: black;
    background-color: white;
    border-radius: 50% 0% 0% 50%;
    height: 800px;
    width: 50%;
    padding: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    text-align: right;
    flex-wrap: wrap;
}

.requirements h3 {
    text-decoration: none;
    color: black;
    font-family: "Afacad", sans-serif;
    font-size: 48px;
    font-weight: 700px;
    font-style: normal;
}

.requirements p {
    color: black;
    font-family: "Afacad", sans-serif;
    font-size: 24px;
    font-weight: 400px;
    font-style: normal;
    padding-top: 0;
    padding-left: 15%;
}

.requirements p:nth-child(3){
    color:black;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.requirements p:nth-child(4){
    color:black;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.requirements p:nth-child(5){
    color:black;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.requirements p:nth-child(6){
    color:black;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.requirements:hover {
    border-radius: 0;
    height: 1300px;
    width: 100%;
    transform: translate(0,-73%);
    transition:250ms;
    color:black;
    gap: 2%;
}

.requirements:hover p:nth-child(3) {
    opacity:1;
    color:black;
}

.requirements:hover p:nth-child(4) {
    opacity:1;
    color:black;
}

.requirements:hover p:nth-child(5) {
    opacity:1;
    color:black;
}

.requirements:hover p:nth-child(6) {
    opacity:1;
    color:black;
}

[role="article"] {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    display: grid;
  }

.explanation, .participation, .benefits, .requirements {
    transform: translate(0, -120%);
}

.participation, .requirements {
    transform: translate(100%,-120%);

}

footer::before {
    content: " ";
    background-image: url(Images/file\ 1.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 200%;
    transform: translate(0,70%);
    z-index:-1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0,-150%);
}

footer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 190px;
    margin: 40px;
    background-color: white;
    color:black;
    text-decoration: none;
    border-radius: 50%;
    font-size: 48px;
    font-weight: 700px;
}

.zen-validate-html:hover {
    background-color: blue;
    color:white;
    transition: 250ms;
}

.zen-validate-css:hover {
    background-color: red;
    color:white;
    transition: 250ms;
}

.zen-license:hover {
    background-color: green;
    color:white;
    transition: 250ms;
}

.zen-accessibility:hover {
    background-color: aqua;
    color:white;
    transition: 250ms;
}

.zen-github:hover {
    background-color: magenta;
    color:white;
    transition: 250ms;
}