/* Empty file for template. Remember to edit only this file and not the HTML file */

body {
    background: black;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    display: block;
    margin: 8px;
}

h2 {
    font-family: "Afacad", sans-serif;
    font-size: 96px;
    font-weight: 700px;
    font-style: normal;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner, h1 {
    color: white;
    background-color:rgba(0, 0, 225, 80%);
    height: 475px;
    width: 475px;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 150px;
    font-family: "Afacad", sans-serif;
    font-size: 48px;
    font-weight: 700px;
    font-style: normal;
    transform:translate(50%,-50%);
}

.intro h2 {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-wrap: wrap;
}

.summary {
    background-color: white;
    color: black;
    height: 684px;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    flex-wrap: wrap;
}

/*.preamble {
    display: block;
    background-color: blue;
    height: 500px;
    width: 840px;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
}

.preamble, p {
    font-family: "Afacad", sans-serif;
    font-size: 24px;
    font-weight: 400px;
    font-style: normal;
    padding-top: 3%;
}*/

section.intro div.preamble {
    background: blue;
    color: white;
    margin-left: -30%;
    padding: 5% 5% 5% 30%;
    position: relative;
    display: block;
    unicode-bidi: isolate;
}

.preamble {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 500px;
    width: 100%;
}


h3:first-child {
    background-color: yellow;
    font-family: "Afacad", sans-serif;
    font-size: 48px;
    font-weight: 700px;
    font-style: normal;
}

.design-selection{
    background-color: rgba(2, 255, 2, 80%);
    height: 650px;
    width: 780px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    transform:translate(100%,0);
}

.design-selection, ul, li {
    font-family: "Afacad", sans-serif;
    font-size: 24px;
    font-weight: 400px;
    font-style: normal;
    margin-top: 5%;
}

.design-name{
    color: white;
    font-size: 32px;
    font-weight: 700px;
    font-style: normal;
    text-decoration: none;
}

.designer-name {
    color: white;
    text-decoration: none;
}

aside {
    display: block;
    unicode-bidi: isolate;
}

aside.sidebar {
    background: green;
    color: white;
    padding: 5%;
    position: absolute;
    right: 0;
    top: 2.5%;
    width: 32.75%;
}

aside.sidebar ul li {
    color: white;
    list-style: none;
    margin: 0;
    padding: 0 0 0.825em 0;
}

.explanation {
    background-color: blue;
    color: white;
    width: 100%;
    height: 720px;
    border-radius: 465px;
    transform:translate(-50%,0);
}

/*.explanation, h3, p {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}*/

.participation {
    background-color: red;
    color: white;
    width: 100%;
    height: 720px;
    border-radius: 465px;
    transform:translate(50%,0);
}

.participation, h3, p {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /*padding-left: 3%: */
}

.benefits {
    background-color: green;
    color: white;
    width: 100%;
    height: 720px;
    border-radius: 465px;
    transform:translate(-50%,0);
}

/*.benefits, h3, p {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
} */

.requirements {
    background-color: white;
    color: black;
    width: 100%;
    height: 720px;
    border-radius: 465px;
    transform:translate(50%,0);
}

.requirements, h3, p {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.viewall {
    color: white;
    font-family: "Afacad", sans-serif;
    font-size: 96px;
    font-weight: 700px;
    font-style: normal;
}

.zen-resources {
    display: block;
    background-color: aqua;
    height: 500px;
    width: 600px;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.zen-resources, li {
    color: black;
    font-family: "Afacad", sans-serif;
    font-size: 32px;
    font-weight: 700px;
    font-style: normal;
    text-decoration: none;
}

.footer {
    color: black;
    font-family: "Afacad", sans-serif;
    font-size: 48px;
    font-weight: 700px;
    font-style: normal;
}

/*.zen-validate-html {
    background-color:white;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    display: inline-block;
}

.zen-validate-css {
    background-color:white;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    display: inline-block;
}

.zen-license {
    background-color:white;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    display: inline-block;
}

.zen-accessibility {
    background-color:white;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    display: inline-block;
}

.zen-github {
    background-color:white;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    display: inline-block;
}*/

.footer {
    grid-column: 5;
    display: flex;
    /*flex-direction: column;*/
    flex-basis: 100%;
    flex: 1;
    text-align: center;
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 3%;
    justify-content: center;
}

.zen-validate-html {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.zen-validate-html, .zen-validate-css, .zen-license, .zen-accessibility, .zen-github {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.zen-validate-html:hover {
    background-color:rgba(0, 0, 225, 80%);
    color: white;
}

.zen-validate-css:hover {
    background-color:rgba(225, 0, 0, 80%);
    color: white;
}

.zen-license {
    background-color:rgba(0, 225, 0, 80%);
    color: white;
}

